.Contents__chat-main__messages__message
  .Contents__chat-main__messages__message__upper-info
    .Contents__chat-main__messages__message__upper-info__user
      = message.user.name
    .Contents__chat-main__messages__message__upper-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .Contents__chat-main__messages__message__text
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?